body {
  background-color: #d9d9d9;
}

div {
  background-color: #fff;
  display: inline-block;
  font-size: 20px;
  font-family: serif;
}

h1 {
  text-transform: uppercase;
}

#form-container {
  margin: 7% 25%;
  width: 50%;
  height: 50%;
  padding: 5px;
  text-align: center;
}

#photo-container, #field-container, #submit-container {
  padding: inherit;
  margin: 5px;
  float: left;
  width: 34%;
}

#photo-container {
  height: 200px;
}

#field-container {
  float: right;
  width: 61%;
  text-align: left;
}

#submit-container {
  float: right;
  margin: 5%;
  width: 61%;
  height: 45%;
  text-align: left;
}

.field {
  clear: both;
  text-align: right;
  line-height: 46px;
  width: 75%;
}

label {
  float: left;
}

.personal-field {
  width: 65%;
  height: 35px;
  font-size: 16px;
  border: none;
  border-radius: 10px;
  outline: none;
}

.personal-field:valid {
  border-bottom: 2px solid #5cfa93
}

.personal-field:invalid {
  border-bottom: 2px solid rgba(223, 107, 107, 0.76);
}

.load-image {
  width: 53%;
  border-radius: 3px;
  text-transform: uppercase;
  background: #50a952;
  color: #fafafa;
}

.load-image:hover {
  background-color: rgba(32, 194, 50, 0.95);
  box-shadow: 2px 2px 10px rgba(219, 247, 142, 0.4);
}

img {
  margin: 5px;
  width: 55%;
  height: 70%;
  border: 2px solid #cbcbcb;
  border-radius: 50%;
}

button {
  border-radius: 5px;
  width: 35%;
  height: 35px;
  text-transform: uppercase;
  background: #50a952;
  box-shadow: 1px 1px 10px rgba(50, 50, 50, .4);
  color: #fafafa;
}

button:hover {
  background-color: rgba(32, 194, 50, 0.95);
  box-shadow: 2px 2px 10px rgba(219, 247, 142, 0.4);
}
