body {
  background-color: #9098cd;
}

div {
  background-color: #fff;
  font-size: 20px;
  font-family: serif;
}

.container {
  text-align: center;
  margin: 5% auto;
  width: 35%;
  padding: 5px;
  white-space: pre-line;
}

.field-container {
  margin: 0 auto 0 auto;
  width: 85%;
  white-space: normal;
}

.field {
  padding: 10px;
  text-align: right;
}

.personal-fields {
  width: 75%;
  height: 25px;
  border-radius: 4px;
}

.submit-container {
  margin: 0 auto 0 auto;
  width: 85%;
  height: 45px;
  white-space: normal;
}

.btn-submit {
  margin: 4px;
  height: 75%;
  width: 35%;
  background-color: #5ee07d;
  border-radius: 4px;
  color: #fff;
  font-size: 20px;
}

label {
  float: left;
}

h2 {
  text-transform: uppercase;
}

.personal-fields:focus {
  background-color: #accfff;
}

.personal-fields:valid {
  background-color: #44fa9d;
}

.personal-fields:invalid {
  background-color: #ff8379;
}