html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#user-interface {
  width: 100%;
  height: 100%;
  min-height: 100%;
}

#title {
  text-align: center;
  min-width: 100%;
}

#side-container {
  float: left;
  width: 15%;
  height: 100%;
  background-color: #e6e6e6;
}

#menu {
  min-width: 100%;
  height: 87.6%;
  text-align: left;
}

.btn-menu {
  width: 100%;
  height: 45px;
  background: #e6e6e6;
  font-size: 20px;
  text-align: left;
  padding-left: 27%;
  display: block;
  outline: none;
  border: none;
}

.btn-menu:hover {
  background-color: #929292;
}

#content-container {
  margin: 0;
  float: right;
  padding-left: 0;
  width: 85%;
  height: 100%;
}

#search-form-container {
  width: 100%;
  height: 5%;
  background-color: #e6e6e6;
  padding: 10px;
}

.search-form {
  float: left;
  width: 50%;
  padding: 5px;
}

#search-field {
  width: 70%;
  height: 100%;
  border-radius: 5px;
  outline: none;
  border: none;
  background-color: #e6e6e6;
  font-size: 15px;
}

.button-search {
  width: 10%;
  height: 20%;
  float: left;
  outline: none;
  border: none;
  background-color: #e6e6e6;
}

.button-search:hover {
  background-color: #929292;
  border-radius: 50%;
}

#icon-search {
  width: 50%;
  height: 50%;
}

.button-group {
  padding: 5px;
  width: 45%;
  height: 100%;
  float: left;
}

.btn-control {
  width: 20%;
  height: 100%;
  float: right;
  outline: none;
  border: none;
  background-color: #e6e6e6;
}

.btn-control:hover {
  background-color: #929292;
  border-radius: 50%;
}

#icon-sign-out {
  width: 20%;
  height: 80%;
}

#icon-remainder {
  width: 20%;
  height: 80%;
}

#filtering-menu-container {
  width: 100%;
  height: 20%;
  font-size: 25px;
}

#filtering-panel {
  padding: 0 0 0 25px;
  text-align: left;
  font-size: 16px;
  height: 48.5%;
}

#filtering-header {
  padding: 0 0 0 25px;
  height: 50%;
}

#filtering-list {
  border-radius: 15px;
  width: 150px;
  outline: none;
  background-color: #e6e6e6;
}

.filtering-label {
  padding: 0 15px 0 0;
}

.filtering-criteria {
  padding: 0 0 0 15px;
}

.filtering-criteria-input {
  border-radius: 10px;
  outline: none;
  padding-left: 5px;
  width: 150px;
  background: url('../images/close_icon.png') no-repeat right;
}

#vacancies-table-container {
  width: 100%;
  height: 60%;

}

table {
  width: 100%;
  height: 100%;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  border-collapse: collapse;
  text-align: center;
}

th,
td {
  text-align: left;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  padding: 10px 0 10px 25px;
}

.btn-details {
  outline: none;
  border: none;
  background-color: white;
  border-radius: 10px;
}

.btn-details:hover {
  background-color: #ddd;
}

#table-control-container {
  height: 9.5%;
}

#table-control-container {
  padding: 10px 15px;
}

.table-control {
  padding: 0 5px 0 10px;
}

.btn-table-control {
  width: 5%;
  height: 50%;
  font-size: 15px;
  background-color: white;
  border-radius: 10px;
  outline: none;
  border: none;
}

.btn-add-record {
  float: right;
  border-radius: 50%;
  margin-top: -4%;
  border: none;
  outline: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.87);
}

.btn-add-record:hover {
  background-color: #929292;
}

.btn-table-control:hover {
  background-color: #ddd;
}

#record-selector {
  width: 50px;
  border-radius: 10px;
}

.total-elements {
  padding: 0 15px;
}

h2 {
  text-transform: uppercase;
}