<footer class="content-footer">
  <span>Rows per page:</span>

  <div class="dropdown page-items">

    <div class="dropdown-button">
      <span>{{currentRows}}</span>
      <div class="dropdown-arrow"></div>
    </div>

    <div class="dropdown-content" (click)="setCurrentRows($event)">
      <a>10</a>
      <a>20</a>
      <a>50</a>
    </div>

  </div>
  <span>{{range}}</span> of <span>{{total}}</span>

  <div class="button-nav">
    <button class="button-prev" #prev (click)="setDirection(prev.className)"></button>
    <button class="button-next" #next (click)="setDirection(next.className)"></button>
  </div>

</footer>
