<form class="form-register">
  <h2 class="form-header">hr app</h2>

  <p *ngFor="let alert of alertService.alerts">
    <ngb-alert type="danger" (close)="closeAlert(alert)">
      {{ alert }}
    </ngb-alert>
  </p>

  <div class="form-field">
    First Name
    <input class="form-control" type="text" name="firstName" [(ngModel)]="user.firstName" placeholder="First Name"
           required #firstName="ngModel">
    <div [hidden]="firstName.valid || firstName.untouched" class="alert-danger">
      First Name is required
    </div>
  </div>

  <div class="form-field">
    Last Name
    <input class="form-control" type="text" name="lastName" [(ngModel)]="user.lastName" placeholder="Last Name"
           required #lastName="ngModel">
    <div [hidden]="lastName.valid || lastName.untouched" class="alert-danger">
      Last Name is required
    </div>
  </div>

  <div class="form-field">
    Email
    <div class="app-tooltip">
      <input class="form-control" type="email" name="email" [(ngModel)]="user.email" placeholder="Email address"
             required email #email="ngModel">
      <div [hidden]="email.valid || email.untouched" class="alert-danger">
        Email is required (email@example.com)
      </div>
      <span class="tooltip-text">email@example.com</span>
    </div>
  </div>

  <div class="form-field">
    Password
    <div class="app-tooltip">
      <input class="form-control" type="password" name="password" [(ngModel)]="user.password" placeholder="Password"
             required pattern=".{6,}" #password="ngModel">
      <div [hidden]="password.valid || password.untouched" class="alert-danger">
        Password is required (min 6 symbols)
      </div>
      <span class="tooltip-text">Min length: 6 symbols</span>
    </div>
  </div>

  <button class="btn" type="submit" (click)="registration(user)"
          [disabled]="password.invalid || email.invalid || firstName.invalid || lastName.invalid">
    Sign up
  </button>

  <a class="login-link" [routerLink]="['/auth/login']">Sign in</a>
</form>
