<div class="modal-content modal-skill">

  <div class="modal-header">
    <button type="button" class="close" (click)="modalRef.hide()">&times;</button>
    <h4 class="modal-title">Add skill</h4>
  </div>

  <div class="modal-body">
    <label>
      *Skill:
      <input type="text" class="name-skill">
    </label>
  </div>

  <div class="modal-footer">
    <button type="button" class="profile-button button-skill" data-dismiss="modal">Save</button>
    <button type="button" class="profile-button" (click)="modalRef.hide()">Close</button>
  </div>

</div>
