.notification-block {
  width: 250px;
  border-left: 1px solid #ddd;
  border-radius: 5px;
  margin-right: -250px;
  background: #fff;
  position: absolute;
  right: 250px;
  top: 40px;
  z-index: 5;
}

.candidate-name {
  font-size: 16px;
  font-weight: bold;
}

.candidate-email {
  font-size: 12px;
  color: #757575;
  width: 130px;
  word-wrap: break-word;
}

.event-title {
  font-weight: bold;
  font-size: 15px;
  margin-bottom: 0;
}

.event-start {
  color: #757575;
  font-size: 14px;
}

.notification-block-candidates {
  height: 280px;
}

.notification-block-interview {
  height: 180px;
}

.hideNotification {
  animation: hideNotification 1s forwards;
}

.showNotification {
  animation: showNotification 1s forwards;
}

@keyframes hideNotification {
  from {
    right: 250px;
  }
  to {
    right: 0;
  }
}

@keyframes showNotification {
  from {
    right: 0;
  }
  to {
    right: 250px;
  }
}

.notification-block > div {
  border-bottom: 1px solid #ddd;
  position: relative;
}

.invert {
  transform: rotate(180deg);
  padding-right: 15px;
}

.notification-header {
  height: 40px;
  display: flex;
  flex-direction: row;
}

.notification-header h4 {
  padding-left: 10px;
  line-height: 40px;
  margin: 0;
}

.notification-header span {
  line-height: 40px;
  padding-left: 15px;
  z-index: 20;
}

.notification-body {
  overflow: hidden;
  height: 240px;
}

.notification-body-interview {
  height: 140px;
}

.candidates-notif-photo div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
}

.candidates-notif-photo img {
  width: 60px;
}

.all-candidates,
.all-interview {
  overflow: auto;
}

.notification-card-candidates {
  display: flex;
  margin-bottom: 15px;
  min-height: 65px;
  align-items: center;
}

.notification-card-candidates:hover {
  background: #dcdcdc;
  cursor: pointer;
}

.notification-card-candidates > div {
  margin-left: 25px;
}

.notification-card-candidates p {
  margin: 0;
}

.notification-card-interview {
  margin-left: 25px;
  margin-bottom: 5px;
}

.notification-footer {
  height: 40px;
  width: 100%;
  border-top: 1px solid #ddd;;
  line-height: 40px;
  position: absolute;
  bottom: 0;
}

.notification-footer span {
  margin-left: 25px;
}

.notification-footer span:hover {
  cursor: pointer;
}

.notification-footer {
  height: 40px;
  width: 100%;
  border-top: 1px solid #ddd;;
  line-height: 40px;
  position: absolute;
  bottom: 0;
}

.notification-footer span {
  margin-left: 25px;
}

.notification-footer span:hover {
  cursor: pointer;
}

@media (max-width: 1024px) {
  .notification-body {
    height: 160px;
  }

  .notification-block-candidates,
  .notification-block-interview {
    height: 200px;
  }

}

@media (max-width: 992px) {
  .notification-block {
    top: 0;
  }
}
