<aside class="notification-block" id="notification-block">

  <div>

    <div class="notification-header" (click)="isCandidates = !isCandidates">
      <h4 class="text-center">New candidates</h4>
      <span class="glyphicon glyphicon-chevron-up"></span>
    </div>

    <div class="notification-block-candidates" *ngIf="isCandidates">
      <div class="notification-body notification-body-candidates" [ngClass]="{'all-candidates': isAllCandidates}">

        <div class="notification-card-candidates" *ngFor="let candidate of candidates">

          <div class="candidates-notif-photo">
            <div><img src={{candidate.image}} alt=""></div>
          </div>

          <div>
            <p class="candidate-name">{{candidate.name}}</p>
            <p class="candidate-email">{{candidate.email}}</p>
            <p class="candidate-position">{{candidate.position}}</p>
          </div>

        </div>

      </div>

      <div class="notification-footer" (click)="isAllCandidates = !isAllCandidates">
        <span>View All</span>
      </div>

    </div>
  </div>
  <div>

    <div class="notification-header" (click)="isEvents = !isEvents">
      <h4 class="text-center">Next interview</h4>
      <span class="glyphicon glyphicon-chevron-up"></span>
    </div>

    <div class="notification-block-interview" *ngIf="isEvents">
      <div class="notification-body notification-body-interview" [ngClass]="{'all-interview': isAllEvents}">

        <div class="notification-card-interview" *ngFor="let event of events">
          <p class="event-title">{{event.title}}</p>
          <span class="event-start"> at {{event.start}}</span>
        </div>

      </div>

      <div class="notification-footer" (click)="isAllEvents = !isAllEvents">
        <span id="all-interview-notification">View All</span>
      </div>

    </div>
  </div>

</aside>
