<form class="form-email">
  <div class="account-info">

    <h2 class="form-header">hr app</h2>

    <h3 class="form-subtitle">Forgot your password?</h3>

    <div class="form-field">
      Enter your email, please
      <div class="app-tooltip">
        <input class="form-control" type="email" name="email" placeholder="Email" required
               pattern="^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$">
        <span class="tooltip-text">email@example.com</span>
      </div>
    </div>

    <button class="btn" type="submit" name="submit">Send instruction</button>

  </div>
</form>
