
<!DOCTYPE html>
<html lang="en">
<head>  
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="/views/assets/css/general/form.css">
  <link rel="stylesheet" type="text/css" href="/views/assets/css/login.css">
  <title>Login</title>
</head>
<body>
<!--TODO: try to add a few empty lines between same level wrappers to visually split the logical pieces of code and improve readability-->
<form class="form-login" action="#">
  <fieldset class="account-info">
    <h2 class="form-header">Login-form</h2>
    <div class="form-field">
      Name
      <div class="tooltip">
        <input type="text" name="name" placeholder="Full name" required>
        <span class="tooltip-text">Enter your name</span>
      </div>
    </div>
    <div class="form-field">
      Email
      <div class="tooltip">
        <input type="email" name="email" placeholder="Email address" required>
        <span class="tooltip-text">email@example.com</span>
      </div>
    </div>
    <div class="form-field">
      Password
      <div class="tooltip">
        <input type="password" name="password" placeholder="Password" required>
        <span class="tooltip-text">Enter your password</span>
      </div>
    </div>
    <input class="btn" type="submit" name="submit" value="Login">
    <a href="/views/register.html">Create profile</a>
  </fieldset>
</form>

</body>
</html>