<!DOCTYPE html>
<html lang="en">
<head>  
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
        integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="/server/views/assets/css/general/layout.css">
  <link rel="stylesheet" type="text/css" href="/server/views/assets/css/candidates.css">
  <title>Candidates</title>
</head>

<body>

<div class="main-div">
  <nav class="navigation">
    <h2 class="logo">hr app</h2>

    <ul class="nav nav-pills nav-stacked menu-list">
      <li class="menu-item"><a href="/server/views/interview.html">Interview</a></li>
      <li class="menu-item"><a href="/server/views/vacancies.html">Vacancies</a></li>
      <li class="menu-item selected"><a href="/server/views/candidates.html">Candidates</a></li>
      <li class="menu-item"><a href="#">Management</a></li>
    </ul>

  </nav>

  <div class="reset-padding content">
    <header class="content-header">
      <form class="search">

        <span class="glyphicon glyphicon-menu-hamburger" id="nav-menu"></span>
        <span class="search-image"></span>

        <label>
          <input class="search-input" type="search" name="search" placeholder="Search for vacancies, candidates...">
        </label>

      </form>

      <div class="header-button">
        <button class="button-bell"></button>
        <a href="/server/views/cabinet.html"><button class="button-enter"></button></a>
      </div>

    </header>

    <div class="content-candidates-main-div">

      <section class="content-candidates-section">
        <h1>Candidates</h1>
      </section>

      <main class="content-candidates-table table-responsive">
        <table id="candidates" class="table">
          <thead>

          <tr class="filters">

            <th>Photo</th>
            <!-- class="mobile-device" can change  with table in mobile version-->
            <th>
              <label>
                Name
                <input id="name" type="text" class="form-control">
              </label>
            </th>

            <th>
              <label>
                E-mail
                <input id="email" type="text" class="form-control">
              </label>
            </th>

            <th>
              <label>
                Position
                <input id="position" type="text" class="form-control">
              </label>
            </th>

            <th>
              <label>
                Date
                <input id="date" type="text" class="form-control">
              </label>
            </th>

            <th>
              <label>
                Stage
                <input id="status" type="text" class="form-control">
              </label>
            </th>

            <th></th>

          </tr>
          </thead>

          <tbody>

          </tbody>
        </table>
      </main>

      <footer id="count-items" class="content-footer">
        <span>Rows per page:</span>

        <div class="dropdown page-items">

          <div class="dropdown-button">
            <span id="current-items">10</span>
            <div class="dropdown-arrow"></div>
          </div>

          <div class="dropdown-content">
            <a href="#">10</a>
            <a href="#">20</a>
          </div>

        </div>

        <span id="range">1-10</span> of <span id="total"> 100</span>

        <div id="control" class="button-nav">
          <button class="button-prev"></button>
          <button class="button-next"></button>
        </div>

      </footer>
    </div>


    <!--Notification block-->
    <aside class="notification-block" id="notification-block">
      <div>

        <div class="notification-header">
          <h4 class="text-center">New candidates</h4>
          <span id="candidates-show-element" class ="glyphicon glyphicon-chevron-up"></span>
        </div>

        <div class="notification-block-candidates">
          <div class="notification-body notification-body-candidates">
            <div class="notification-card-candidates">

              <div class="candidates-notif-photo">
                <div><img src="http://via.placeholder.com/100x100" alt=""></div>
              </div>

              <div>
                <p>Name</p>
                <p>E-mail</p>
                <p>Position</p>
              </div>

            </div>

            <div class="notification-card-candidates">

              <div class="candidates-notif-photo">
                <div><img src="http://via.placeholder.com/100x100" alt=""></div>
              </div>

              <div>
                <p>Name</p>
                <p>E-mail</p>
                <p>Position</p>
              </div>

            </div>

            <div class="notification-card-candidates">

              <div class="candidates-notif-photo">
                <div><img src="http://via.placeholder.com/100x100" alt=""></div>
              </div>

              <div>
                <p>Name</p>
                <p>E-mail</p>
                <p>Position</p>
              </div>

            </div>

            <div class="notification-card-candidates">

              <div class="candidates-notif-photo">
                <div><img src="http://via.placeholder.com/100x100" alt=""></div>
              </div>

              <div>
                <p>Name</p>
                <p>E-mail</p>
                <p>Position</p>
              </div>

            </div>

            <div class="notification-card-candidates">

              <div class="candidates-notif-photo">
                <div><img src="http://via.placeholder.com/100x100" alt=""></div>
              </div>

              <div>
                <p>Name</p>
                <p>E-mail</p>
                <p>Position</p>
              </div>

            </div>
          </div>

          <div class="notification-footer" id="notif-footer-cand">
            <span id="all-candidates-notification">View All</span>
          </div>

        </div>
      </div>

      <div>

        <div class="notification-header">
          <h4 class="text-center">New interview</h4>
          <span id="interview-show-element" class ="glyphicon glyphicon-chevron-up"></span>
        </div>

        <div class="notification-block-interview">
          <div class="notification-body notification-body-interview">

            <div class="notification-card-interview">
              <p>Name</p>
              <span>Time</span>
            </div>

            <div class="notification-card-interview">
              <p>Name</p>
              <span>Time</span>
            </div>

            <div class="notification-card-interview">
              <p>Name</p>
              <span>Time</span>
            </div>

            <div class="notification-card-interview">
              <p>Name</p>
              <span>Time</span>
            </div>

            <div class="notification-card-interview">
              <p>Name</p>
              <span>Time</span>
            </div>

          </div>

          <div class="notification-footer" id="notif-footer-inter">
            <span id="all-interview-natification">View All</span>
          </div>

        </div>
      </div>

    </aside>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.1.0.min.js"
        integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s="
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
<script src="/server/views/assets/js/candidates.js"></script>
<script src="/server/views/assets/js/general/notification.js"></script>

</body>
</html>
