<div class="main-div">

  <app-menu [isShow]="isVisibleMenu"></app-menu>

  <div class="reset-padding content">
    <header class="content-header">

      <button class="hamburger-button" (click)="changeVisibleMenu()">
        <span class="glyphicon glyphicon-menu-hamburger"></span>
      </button>

      <div class="header-button">
        <a [routerLink]="['/cabinet']" class="cabinet">
          <span class="glyphicon glyphicon-user cabinet-logo" aria-hidden="true"></span>
        </a>
        <button class="button-bell" (click)="changeShowStatus()"></button>
        <button class="button-enter" (click)="logout()"></button>
      </div>

    </header>
    <router-outlet></router-outlet>
    <app-notification-block [ngClass]="{hideNotification: !isVisibleNotification}"></app-notification-block>

  </div>
</div>
