<tabset>
  <tab heading="Add review" id="tab1">
    <textarea class="review-text" placeholder="Write..."></textarea>
    <button type="button" class="review-button" data-dismiss="modal">Send</button>
  </tab>
  <tab heading="Basic Title 1">Basic content 1</tab>
  <tab heading="Basic Title 2">Basic content 2</tab>
</tabset>


<!--<ul class="nav nav-tabs">-->
<!--<li class="active"><a data-toggle="tab" href="#home">Add review</a></li>-->
<!--<li><a data-toggle="tab" href="#rev">review</a></li>-->
<!--</ul>-->

<!--<div class="tab-content">-->

<!--<div id="home" class="tab-pane fade in active">-->

<!--</div>-->
<!--<div id="rev" class="tab-pane fade in active">-->
<!--<label>-->
<!--<textarea class="review-text" placeholder="Review..."></textarea>-->
<!--</label>-->
<!--<button type="button" class="review-button" data-dismiss="modal">Send</button>-->
<!--</div>-->

<!--</div>-->
