.app-tooltip {
  position: relative;
  display: inline-block;
}

.app-tooltip .tooltip-text {
  visibility: hidden;
  width: 150px;
  background-color: #636466;
  color: white;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 80%;
  left: 50%;
  margin-left: -60px;
}

.app-tooltip .tooltip-text::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border: 5px solid transparent;
  border-top-color: #636466;
}

.app-tooltip:hover .tooltip-text {
  visibility: visible;
}

.form-header {
  color: #636466;
  text-align: center;
  margin-bottom: 30px;
  text-transform: uppercase;
}

.form-field {
  color: #636466;
  display: flex;
  flex-direction: column;
  font-weight: bold;
  margin-bottom: 20px;
}

input {
  background: white;
  border: none;
  border-bottom: 2px solid #e8e8e8;
  color: #636466;
  padding: 6px;
  margin-top: 6px;
  width: 95%;
  box-shadow: none;
}

.btn {
  display: block;
  background: #dcdcdc;
  border: 0;
  color: #636466;
  cursor: pointer;
  font-weight: bold;
  width: 100px;
  margin: auto auto 20px;
}

.btn:hover {
  background: #636466;
  color: white;
}

.btn[disabled]:hover {
  color: #636466;
  background: #dcdcdc;
}

.alert-danger {
  background: none;
  font-size: 12px;
  font-style: italic;
}

.form-subtitle {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 20px;
  text-align: center;
}

input:invalid {
  border-color: #df4820;
}

input:valid {
  border-color: #30df5b;
}

