<form class="form-password" action="#">
  <div class="account-info">

    <h2 class="form-header">hr app</h2>

    <p *ngFor="let alert of alertService.alerts">
      <ngb-alert type="danger" (close)="closeAlert(alert)">
        {{ alert }}
      </ngb-alert>
    </p>

    <h3 class="form-subtitle">Enter new password</h3>

    <div class="form-field">
      Password
      <div class="app-tooltip">
        <input class="password form-control" type="password" name="firstPassword" [(ngModel)]="password"
               placeholder="Password" required pattern=".{6,}" #firstPassword="ngModel">
        <div [hidden]="firstPassword.valid || firstPassword.untouched" class="alert-danger">
          Password is required (min 6 symbols)
        </div>
        <span class="tooltip-text">Min length: 6 symbols </span>
      </div>
    </div>

    <div class="form-field">
      Confirm password
      <div class="app-tooltip">
        <input class="password form-control" type="password" name="secondPassword" [(ngModel)]="confirmPassword"
               placeholder="Confirm password" required pattern=".{6,}" #secondPassword="ngModel">
        <div [hidden]="secondPassword.valid || secondPassword.untouched || password==confirmPassword" class="alert-danger">
          Passwords Don't Match
        </div>
        <span class="tooltip-text">Enter password again</span>
      </div>
    </div>

    <button class="btn" type="submit" name="submit" (click)="setPassword(password)"
            [disabled]="firstPassword.invalid || secondPassword.invalid || password!=confirmPassword">
      Save
    </button>

  </div>
</form>
