<form class="form-password" action="#">
  <div class="account-info">

    <h2 class="form-header">hr app</h2>

    <h3 class="form-subtitle">Enter new password</h3>

    <div class="form-field">
      Password
      <div class="app-tooltip">
        <input class="password form-control" type="password" name="password" placeholder="Password" required
               pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[$@$!%*?&])[A-Za-z\d$@$!%*?&]{6,24}">
        <span class="tooltip-text">Contain:<br> 1.Uppercase letters, 2.Lowercase letters, 3.Numerals, 4.Symbols: @!%*?& </span>
      </div>
    </div>

    <div class="form-field">
      Confirm password
      <div class="app-tooltip">
        <input class="password form-control" type="password" name="password" placeholder="Confirm password" required
               pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[$@$!%*?&])[A-Za-z\d$@$!%*?&]{6,24}">
        <span class="tooltip-text">Enter password again</span>
      </div>
    </div>

    <button class="btn" type="submit" name="submit">Save</button>

  </div>
</form>
