.form-password {
  text-align: center;
}

.form-password .btn {
  width: 150px;
}

.form-password .account-info {
  padding: 0 20px 20px 20px;
}

.form-password h2 {
  color: #757575;
}

.form-password input:invalid{
  border-color: #d9271c;
}
.form-password input:valid{
  border-color: #30df5b;
}
.error{
  color: #d9271c;
  display: none;
}

.success{
  color: darkgreen;
  display: none;
}

.password-field .form-field{
  text-align: left;
}

.password-field  .confirm{
  font-size: 10px;
  font-style: italic;
  color: #d9271c;
  display: none;
}