/*{Use only #
  --gray: #dcdcdc;
  --dark-gray: #636466;
  --light-gray: #e8e8e8;
  --font: #3f3f3f;
}*/

form {
  border: 1px solid #e8e8e8;
  border-radius: 5px;
  font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.form-login {
  display: block;
  margin: auto;
  width: 300px;
}

.account-info {
  margin: auto;
  border: 0;
  padding: 40px 20px;
}

.account-info .form-header {
  color: #636466;
  text-align: center;
  margin-bottom: 40px;
}

.account-info .form-field {
  color: #636466;
  display: flex;
  flex-direction: column;
  font-weight: bold;
  margin-bottom: 20px;
}

.account-info input {
  background: white;
  border: none;
  border-bottom: 2px solid #e8e8e8;
  color: #636466;
  padding: 6px;
  margin-top: 6px;
  width: 95%;
}

.account-info .btn {
  display: block;
  background: #dcdcdc;
  border: 0;
  color: #636466;
  cursor: pointer;
  font-weight: bold;
  width: 100px;
  margin: auto;
}

.account-info .btn:hover {
  background: #636466;
  color: white;
}

.form-login a {
  display: block;
  color: #636466;
  font-style: italic;
  text-decoration: none;
  text-align: center;
  margin-top: 5px;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltip-text {
  visibility: hidden;
  width: 150px;
  background-color: #636466;
  color: white;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 80%;
  left: 50%;
  margin-left: -60px;
}

.tooltip .tooltip-text::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border: 5px solid transparent;
  border-top-color: #636466;
}

.tooltip:hover .tooltip-text {
  visibility: visible;
}

.registration-info {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  flex-wrap: wrap;
}

.form-registration {
  display: block;
  margin: auto;
  max-width: 600px;
}

.form-image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-photo {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  border: solid 2px #636466;
}

.input-file {
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.form-image label {
  margin: 10px;
  font-weight: bold;
  color: #636466;
  background-color: #e8e8e8;
  display: inline-block;
  cursor: pointer;
  padding: 5px;
}

.form-image label:hover {
  background-color: #636466;
  color: white;
}

/*-----TAB VACANCIES-----*/

.main-div-vacancies{
  display: flex;
}

/*Navigation menu*/
nav.navigation {
  background: #e8e8e8;
  min-height: 100vh;
  width: 14%;
  margin: 0;
  padding: 0;
  box-shadow: 0 0 10px rgba(150, 150, 150, 0.5);
}

nav.navigation .logo {
  margin-top: 0;
  padding: 20px 0 0 20px;
  color: #636466;
  text-transform: uppercase;
}

.menu-list {
  padding: 0;
}

.menu-item {
  font-size: 18px;
  min-height: 30px;
}

.menu-item a {
  padding: 15px 25px;
  text-decoration: none;
  color: #3f3f3f;
}

/*----Content vacancies----*/

.content-vacancies{
  width: 87%;
}

/*---- Content vacancies header----*/
.content-vacancies-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: #e8e8e8;
  height: 8vh;          /*I divided the page into four path by min-height it's 1-height(change one change other)*/
  box-shadow: inset 2px -2px 7px rgba(150, 150, 150, 0.5);
  padding: 0 15px;
  position: relative;
  z-index: 2;
}

.reset-padding {
  padding: 0;
}

.search {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 10px;
}

.search-image {
  width: 20px;
  height: 20px;
  background: url(../images/sprite.png) -116px 0;
  margin: 0 5px;
}

.search-input {
  width: 300px;
  border: none;
  background: #e8e8e8;
}

.search label {
  margin: 0;
}

.glyphicon-menu-hamburger {
  font-size: 21px;
  cursor: pointer;
  margin-right: 10px;
  top: 0;
}

.header-button button {
  margin: 0 10px;
  border: none;
  width: 20px;
  height: 20px;
  outline: none;
}

.button-bell {
  background: url(../images/sprite.png) -175px -2px;
}

.button-enter {
  background: url(../images/sprite.png) -413px -1px;
}

/*----Content section where filters vacancies----*/

.content-vacancies-section {
  min-height: 12vh;                                                 /*2-height*/
}

.content-vacancies-section h1 {
  font-size: 20px;
  font-weight: lighter;
  padding: 20px 30px 10px;
  margin: 0;
}

.filter span {
  font-size: 14px;
  padding: 0 15px;
}

div.filter > span {
  padding: 0 30px;
}

.filter {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-bottom: 20px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropdown-button {
  background-color: #dcdcdc;
}

.dropdown-button {
  background-color: #e8e8e8;
  color: #636466;
  width: 150px;
  font-size: 14px;
  border: none;
  cursor: pointer;
  border-radius: 12px;
  text-align: left;
}

.dropdown-button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.filter-items .dropdown-arrow {
  width: 20px;
  height: 14px;
  background: url(../images/sprite.png) 0 -5px;
}

.dropdown-content {
  display: none;
  border-radius: 12px;
  position: absolute;
  background-color: #e8e8e8;
  width: 150px;
  box-shadow: 0 8px 16px 0 #dcdcdc;
  z-index: 1;
}

.dropdown-content a {
  color: #636466;
  padding: 3px 10px;
  font-size: 14px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #dcdcdc;
}

.filter-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: white;
  border: 1px solid #dcdcdc;
  border-radius: 12px;
  font-size: 12px;
  color: #636466;
  width: 100px;
  margin: 0 15px;
}

.button-delete {
  margin-right: 3px;
  border: none;
  width: 15px;
  height: 15px;
  background: url(../images/sprite.png) -58px -4px;
}

/*---- Content table vacancies ----*/

.content-vacancies-table{
  min-height: 73vh;                                       /*3-height*/
}

.content-vacancies-table table {
  margin: 0;
  border-bottom: 1px solid #dcdcdc;
  min-height: 73vh;                                       /*3-height*/
}

.content-vacancies-table table td a {
  text-decoration: none;
  color: #3f3f3f;
}

.content-vacancies-table table tr>th{
  height: 11vh;
}

.content-vacancies-table table tr>td{
  height: 10vh;
}

.content-vacancies-table table tr>th,
.content-vacancies-table table tr>td{
  padding-left: 30px;
  vertical-align: middle;;
}

.button-add {
  position: fixed;
  right: 20px;
  bottom: 20px;
  height: 50px;
  width: 50px;
  border-radius: 100%;
  border: none;
  color: #636466;
  background: #e8e8e8;
  box-shadow: 0 5px 8px #dcdcdc;
  font-size: 30px;
  font-weight: inherit;
  outline: none;
}

.button-add:hover {
  background: #dcdcdc;
}

/*---- Content footer vacancies ----*/

.content-vacancies-footer {
  height: 6vh;                                        /*4-height*/
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}

.content-vacancies-footer span {
  font-size: 11px;
  padding: 0 30px;
}

.page-items .dropdown-button {
  font-size: 12px;
  background-color: #fff;
  width: 30px;
}

.page-items .dropdown-content {
  font-size: 12px;
  bottom: 100%;
  box-shadow: 0 4px 16px 0 #dcdcdc;
  width: 30px;
}

.page-items span {
  padding: 0;
}

.page-items .dropdown-button {
  justify-content: space-around;
}

.page-items .dropdown-arrow {
  width: 10px;
  height: 14px;
  background: url(../images/sprite.png) -355px -5px;
}

.button-nav button {
  width: 20px;
  height: 20px;
  margin: 0 15px;
  border: none;
  vertical-align: middle;
}

.button-prev {
  background: url(../images/sprite.png) -232px -2px;
}

.button-next {
  background: url(../images/sprite.png) -290px -3px;
}
/*---- media for vacancies----*/
@media (max-width: 992px) {
  .content-vacancies {
    position: relative;
    width: 100%;
  }

  nav.navigation {
    display: none;
    width: 140px;
  }

  nav.show {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    height: 100%;
    opacity: 0.9;
  }

  nav.show ul{
    margin-top: 8vh;
  }

  nav h2 {
    display: none;
  }

  .content-vacancies-header {
    box-shadow: 2px -2px 7px rgba(150, 150, 150, 0.5);
  }
}

@media (min-width: 992px) {
  .glyphicon-menu-hamburger {
    display: none;
  }
}

@media screen and (max-width: 767px){
  .table-responsive {
    width: 100%;
    margin-bottom: 0;
    overflow-y: hidden;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    border: none;
  }
}
