<footer id="count-items" class="content-footer">
  <span>Rows per page:</span>

  <div class="dropdown page-items">

    <div class="dropdown-button">
      <span id="current-items-count">10</span>
      <div class="dropdown-arrow"></div>
    </div>

    <div class="dropdown-content">
      <a href="#">10</a>
      <a href="#">20</a>
      <a href="#">50</a>
    </div>

  </div>
  <span id="range">1-10</span> of <span id="total">100</span>

  <div id="table-control" class="button-nav">
    <button class="button-prev"></button>
    <button class="button-next"></button>
  </div>

</footer>
