<div class="modal-content modal-review">

  <div class="modal-header">
    <button type="button" class="close" (click)="refModal.hide()">&times;</button>
    <span class="candidate-date">{{user.date}} days ago</span>
    <h4 class="modal-title profile-fullName">{{user.name}} {{user.lastName}}</h4>
  </div>

  <div class="modal-body">

    <div class="information">
      <span class="information-label">Position: </span>
      <span class="position-profile">{{user.position}}</span>
    </div>

    <tabset>
      <tab heading="Add review" id="tab1">
        <textarea #content class="review-text" placeholder="Write..."></textarea>
        <button type="button" class="review-button" (click)="addReview(content.value); refModal.hide()">Send</button>
      </tab>
      <tab *ngFor="let review of reviews" heading={{review.last_name}}>{{review.content}}</tab>
    </tabset>

  </div>
</div>
