.content-vacancies-section {
  min-height: 70px;
}

.content-vacancies-section h1 {
  font-size: 20px;
  font-weight: lighter;
  padding: 20px 30px 20px;
  margin: 0;
}

.filter-salary {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
}

.salary-search {
  display: flex;
  flex-direction: column;
}

.content-vacancies-table {
  min-height: calc(100vh - 170px);
}

.content-vacancies-table table {
  margin: 0;
  border-bottom: 1px solid #dcdcdc;
}

.content-vacancies-table table tr > th:first-child,
.content-vacancies-table table tr > td:first-child {
  padding: 0 0 0 30px;
}

.content-vacancies-table table tr > th,
.content-vacancies-table table tr > td {
  min-height: 60px;
  vertical-align: middle;;
}

th.column-description, td.column-description {
  width: 40%;
}

th.column-salary, td.column-salary {
  width: 15%;
}

th.column-status, td.column-status {
  width: 10%;
}

th.column-vacancy, td.column-vacancy {
  width: 20%;
}

td.edit-button {
  width: 80px;
}

.edit-button button {
  background: none;
  border: none;
}

.filter-salary input {
  width: 40%;
}

.content-vacancies-table table tr > td {
  padding-left: 15px;
}

.button-add {
  position: fixed;
  right: 20px;
  bottom: 20px;
  height: 50px;
  width: 50px;
  border-radius: 100%;
  border: none;
  color: #636466;
  background: #e8e8e8;
  box-shadow: 0 5px 8px #dcdcdc;
  font-size: 30px;
  font-weight: inherit;
  outline: none;
}

.button-add:hover {
  background: #dcdcdc;
}

.button-edit {
  position: fixed;
  right: 80px;
  bottom: 20px;
  height: 50px;
  width: 50px;
  border-radius: 100%;
  border: none;
  color: #636466;
  background: #e8e8e8;
  box-shadow: 0 5px 8px #dcdcdc;
  font-size: 20px;
}

.button-edit:hover {
  background: #dcdcdc;
}

/* --- Modal window --- */

.modal input {
  height: 22px;
  margin-bottom: 2px;
  border-radius: 5px;
  border: 1px solid #c0c0c0;
}

.modal-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.modal-body label {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.vacancies-button {
  padding-left: 10px;
  padding-right: 10px;
  background: #dcdcdc;
  border: 1px solid #c0c0c0;
  border-radius: 8px;
  margin: 0 20px;
  height: 30px;
}

.vacancies-button:hover {
  background: #c0c0c0;
}

/* ------- Validation ------ */
input.ng-valid[required], input.ng-valid.required {
  border-left: 4px solid #42A948;
}

input.ng-invalid[required] {
  border-left: 4px solid #a94442;
}

input.salary {
  width: 50%;
}

.alert-danger-salary {
  color: #a94442;
  border-color: #ebccd1;
  width: 50%;
  background: #f2dede linear-gradient(to bottom, #f2dede 0, #e7c3c3 100%);

}

.dropdown-status li a{
  white-space: normal;
  cursor: pointer;
}

.button-status > span{
  font-weight: 700;
  overflow: hidden;
}

.button-status {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 34px;
  background: none;
  border: 1px solid #ccc;
}

@media (max-width: 800px) {

  td.column-salary, th.column-salary,
  .status-filter {
    display: none;
  }

  .table-responsive > .table > tbody > tr > td {
    white-space: normal;
  }

  th.column-description, td.column-description {
    width: 50%;
  }

  th.column-status, td.column-status {
    width: 15%;
  }

  th.column-vacancy, td.column-vacancy {
    width: 20%;
  }

  td.edit-button {
    width: 40px;
  }

  .content-vacancies-table table tr > th:first-child,
  .content-vacancies-table table tr > td:first-child {
    padding: 0 0 0 5px;
  }
}


