<section class="content-vacancies-section">
  <h1>Vacancies</h1>
</section>
<main class="content-vacancies-table table-responsive filterable">
  <table class="table">
    <thead>
    <tr class="filters" #vacancyColumns>
      <th>
        <label>
          Vacancy
          <input id="position" #position type="text" class="form-control"
                 (keyup)="filtering(position.id, position.value)">
        </label>
      </th>
      <!-- class="mobile-device" can change  with table in mobile version-->
      <th class="mobile-device">
        <label>
          Description
          <input id="description" #description type="text" class="form-control"
                 (keyup)="filtering(description.id, description.value)">
        </label>
      </th>
      <th class="mobile-device">
        <div class="salary-search">
        <label>
          Salary
          <input id="salary1" #salary1 type="text" class="form-control salary "
          (keyup)="filtering(salary1.id,salary1.value)">
          <span>-</span>
          <input id="salary2" #salary2 type="text" class="form-control salary "
                 (keyup)="filtering(salary2.id,salary2.value)">
        </label>
          </div>
      </th>
      <th>Candidates</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of items">

      <td *ngIf="!isEdit">{{item?.position}}</td>

      <td *ngIf="isEdit">
        <input class="text-muted  form-control" name="position" placeholder="Position"
               [(ngModel)]="item.position" required #position="ngModel">
        <div [hidden]="position.valid || position.pristine" class="alert-danger">
          Vacancy is required
        </div>
      </td>

      <td *ngIf="!isEdit"> {{item?.description}}</td>

      <td *ngIf="isEdit">
        <input class="text-muted  form-control" name="position" placeholder="Description"
               [(ngModel)]="item.description" required #description="ngModel">
        <div [hidden]="description.valid || description.pristine" class="alert-danger">
          Description is required
        </div>
      </td>

      <td *ngIf="!isEdit">{{item?.salary}}</td>

      <td *ngIf="isEdit">
        <input class="text-muted salary  form-control" name="position" placeholder="Salary" pattern="\d{2,}"
               [(ngModel)]="item.salary" required #salary="ngModel">
        <div [hidden]="salary.valid || salary.pristine" class="alert-danger-salary">
          Salary is required
        </div>
      </td>

      <td><a routerLink="">View Candidates</a></td>
    </tr>

    <tr class="text-center" *ngIf="notFound()">
      <td [attr.colspan]='numberColumns'>No result found</td>
    </tr>

    </tbody>
  </table>

  <button class="button-add" (click)="openModal(vacanciesModal)">+</button>
  <button type="button" class="button-edit btn btn-default btn-sm" (click)="changeMode()">
    <span class="glyphicon glyphicon-pencil" *ngIf="!isEdit"></span>
    <span class="glyphicon glyphicon-ok" *ngIf="isEdit" (click)="saveChanges(vacancies)"></span>
  </button>
</main>

<app-footer [range]="range" [total]="total" [currentRows]="pagination.rows" (changeRows)="changeRowsNumber($event)" (goToPage)="goToPage($event)"></app-footer>


<!-- Modal 'Add vacancies' -->
<ng-template #vacanciesModal>
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" (click)="modalRef.hide()">&times;</button>
      <h4 class="modal-title">Add vacancies</h4>
    </div>
    <div class="modal-body">

      <label>
        *Vacancy:
        <input type="text" class="add-vacancy form-control" [(ngModel)]="vacancies.position" required name="position"
               #position="ngModel">
        <div [hidden]="position.valid || position.untouched" class="alert-danger">
          Vacancy is required
        </div>
      </label>

      <label>
        *Description:
        <input type="text" class="add-description form-control" [(ngModel)]="vacancies.description" required
               name="description"
               #description="ngModel">
        <div [hidden]="description.valid || description.untouched" class="alert-danger">
          Description is required
        </div>
      </label>

      <label>
        *Salary:
        <input type="text" class="add-salary form-control" [(ngModel)]="vacancies.salary" required name="salary"
               #salary="ngModel" pattern="\d{2,}" title="Salary is required.Please, enter a numbers">
        <div [hidden]="salary.valid || salary.untouched" class="alert-danger">
          Salary is required.Please, enter a numbers
        </div>
      </label>

    </div>

    <div class="modal-footer ">
      <button type="button" class="button-save-vacancies btn btn-success"
              [disabled]="position.invalid || description.invalid || salary.invalid"
              (click)="addVacancies(vacancies); modalRef.hide()">Save
      </button>
      <button type="button" class="btn btn-danger" (click)="clearNewVacancies()">Close</button>
    </div>

  </div>
</ng-template>

