.modal input {
  height: 22px;
  margin-bottom: 2px;
  border-radius: 5px;
  border: 1px solid #c0c0c0;
}

.modal-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.modal-body label {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
