<aside class="notification-block" id="notification-block">

  <div>

    <div class="notification-header">
      <h4 class="text-center">New candidates</h4>
      <span id="candidates-show-element" class="glyphicon glyphicon-chevron-up"></span>
    </div>

    <div class="notification-block-candidates">
      <div class="notification-body notification-body-candidates">
        <div class="notification-card-candidates">

          <div class="candidates-notif-photo">
            <div><img src="http://via.placeholder.com/100x100" alt=""></div>
          </div>

          <div>
            <p>Name</p>
            <p>E-mail</p>
            <p>Position</p>
          </div>

        </div>
        <div class="notification-card-candidates">

          <div class="candidates-notif-photo">
            <div><img src="http://via.placeholder.com/100x100" alt=""></div>
          </div>

          <div>
            <p>Name</p>
            <p>E-mail</p>
            <p>Position</p>
          </div>

        </div>
        <div class="notification-card-candidates">

          <div class="candidates-notif-photo">
            <div><img src="http://via.placeholder.com/100x100" alt=""></div>
          </div>

          <div>
            <p>Name</p>
            <p>E-mail</p>
            <p>Position</p>
          </div>

        </div>
        <div class="notification-card-candidates">

          <div class="candidates-notif-photo">
            <div><img src="http://via.placeholder.com/100x100" alt=""></div>
          </div>

          <div>
            <p>Name</p>
            <p>E-mail</p>
            <p>Position</p>
          </div>

        </div>
        <div class="notification-card-candidates">

          <div class="candidates-notif-photo">
            <div><img src="http://via.placeholder.com/100x100" alt=""></div>
          </div>

          <div>
            <p>Name</p>
            <p>E-mail</p>
            <p>Position</p>
          </div>

        </div>

      </div>

      <div class="notification-footer" id="notif-footer-cand">
        <span id="all-candidates-notification">View All</span>
      </div>

    </div>
  </div>
  <div>

    <div class="notification-header">
      <h4 class="text-center">New interview</h4>
      <span id="interview-show-element" class="glyphicon glyphicon-chevron-up"></span>
    </div>

    <div class="notification-block-interview">
      <div class="notification-body notification-body-interview">

        <div class="notification-card-interview">
          <p>Name</p>
          <span>Time</span>
        </div>

        <div class="notification-card-interview">
          <p>Name</p>
          <span>Time</span>
        </div>


      </div>

      <div class="notification-footer" id="notif-footer-inter">
        <span id="all-interview-natification">View All</span>
      </div>

    </div>
  </div>

</aside>
