<div class="form-register">
  <h2 class="form-header">hr app</h2>

  <div class="form-field">
    Email
    <div class="tooltip">
      <input id="email" type="email" name="email" placeholder="Email address" required
             pattern="^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$">
      <span class="tooltip-text">email@example.com</span>
    </div>
  </div>

  <div class="form-field">
    Password
    <div class="tooltip">
      <input id="password" type="password" name="password" placeholder="Password" required
             pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[$@$!%*?&])[A-Za-z\d$@$!%*?&]{6,24}">
      <span
        class="tooltip-text">Contain:<br> 1.Uppercase letters, 2.Lowercase letters, 3.Numerals, 4.Symbols: @!%*?& </span>
    </div>
  </div>

  <span class="error">Error</span>

  <input id="registration" class="btn" type="submit" name="submit" value="Sign up">
</div>
