.modal input {
  height: 22px;
  margin-bottom: 2px;
  border-radius: 5px;
  border: 1px solid #c0c0c0;
}

.modal-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.modal-body label {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.modal-review .modal-header {
  border-bottom: none;
}

.modal-review .modal-title {
  float: left;
}

.modal-review .candidate-date {
  float: right;
}

.information-label {
  font-weight: bold;
}

.information {
  margin-bottom: 20px;
}

.modal-review .modal-footer {
  border-top: none;
  text-align: left;
}

.modal-review button {
  border-radius: 2px;
  margin: 0;
  width: 150px;
}

.modal-review .close {
  width: 10px;
  margin-left: 10px;
}
