.modal input {
  height: 22px;
  margin-bottom: 2px;
  border-radius: 5px;
  border: 1px solid #c0c0c0;
}

.modal-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.modal-body label {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.profile-button {
  padding-left: 10px;
  padding-right: 10px;
  background: #dcdcdc;
  border: 1px solid #c0c0c0;
  border-radius: 8px;
  margin: 0 20px;
  height: 30px;
}

.profile-button:hover {
  background: #c0c0c0;
}

.profile-button[disabled],.profile-button[disabled]:hover {
  opacity: 0.5;
}

input.ng-valid[required], input.ng-valid.required {
  border-left: 4px solid #42A948;
}

input.ng-invalid[required] {
  border-left: 4px solid #a94442;
}

.alert-danger {
  background: none;
  font-style: italic;
  font-size: 12px;
}

:host ::ng-deep dp-date-picker.dp-material .dp-picker-input {
  border: 1px solid #c0c0c0;
  border-radius: 8px;
  padding-left: 8px;
  width: 150px;
}
