<div class="modal-content modal-experience">

  <div class="modal-header">
    <button type="button" class="close" (click)="refModal.hide()">&times;</button>
    <h4 class="modal-title">Add experience</h4>
  </div>

  <div class="modal-body">
    <form #experienceForm="ngForm">

        *Period
        <div class="exp-period">
          <dp-date-picker [(ngModel)]="experience.start" [config]="datePickerConfig" theme="dp-material"
                          mode="month" [ngModelOptions]="{standalone: true}"></dp-date-picker>
          <span> - </span>
          <dp-date-picker [(ngModel)]="experience.end" [config]="datePickerConfig" theme="dp-material"
                          mode="month" [ngModelOptions]="{standalone: true}"></dp-date-picker>
        </div>

      <label>
        Position:
        <input type="text" name="position" class="exp-position form-control" [(ngModel)]="experience.position">
      </label>

      <label>
        Location:
        <input type="text" name="location" class="exp-location form-control" [(ngModel)]="experience.location">
      </label>

      <label>
        *Company:
        <input type="text" class="exp-company form-control" [(ngModel)]="experience.company" required name="company"
               #company="ngModel">
        <div [hidden]="company.valid || company.pristine" class="alert-danger">
          Company is required
        </div>
      </label>

      <label>
        Description:
        <input type="text" name="description" class="exp-description form-control" [(ngModel)]="experience.description">
      </label>
    </form>
  </div>

  <div class="modal-footer">
    <button type="button" class="profile-button button-experience" (click)="addExperience(experience); refModal.hide()">
      Save
    </button>
    <button type="button" class="profile-button" (click)="refModal.hide()">Close</button>
  </div>

</div>
