<div class="page-profile">
  <div class="page-profile-header">

    <div class="breadcrumbs">
      <p class="text-muted"><a href="/candidates"> Candidates</a> <span
        class="glyphicon glyphicon-chevron-right"></span>
        <a href="#" class="profile-fullName">{{user.name}} {{user.lastName}}</a></p>
    </div>

    <button class="profile-button review" (click)="openModal(reviewModal)">Review</button>
  </div>

  <div class="page-profile-table clearfix">
    <div class="col-sm-3 profile-table-left-part candidates-information">
      <div class="name-developer">

        <app-dropdown-status [status]="user.status" *ngIf="isEdit"></app-dropdown-status>
        <span class="status status-name" *ngIf="!isEdit">{{user.status}}</span>

        <img class="img-responsive" src="http://via.placeholder.com/500x350/66bfff" alt="resume">

        <span class="text-muted position" *ngIf="!isEdit">{{user.position}}</span>
        <input class="text-muted position" value="{{user.position}}" *ngIf="isEdit">

        <div class="full-name">

          <span class="name" *ngIf="!isEdit">{{user.name}}</span>
          <input class="name" placeholder="Name" value="{{user.name}}" *ngIf="isEdit">

          <span class="last-name" *ngIf="!isEdit">{{user.lastName}}</span>
          <input class="last-name" placeholder="Last Name" value="{{user.lastName}}" *ngIf="isEdit">
        </div>

        <span class="salary" *ngIf="!isEdit">{{user.payment}}$</span>
        <input class="salary" placeholder="salary" value="{{user.payment}}" *ngIf="isEdit">

        <span class="text-right text-muted change-date">{{user.date}} days ago</span>

      </div>

      <div class="contact-developer">
        <span class="text-muted title-info">Contact information:</span>
        <span class="text-muted number-title">Telephone:</span>
        <span class="number-info" *ngIf="!isEdit">{{user.phone}}</span>
        <input class="number-info" placeholder="phone" value="{{user.phone}}" *ngIf="isEdit">
        <p></p>
        <span class="text-muted">Email:</span>
        <span class="email" *ngIf="!isEdit">{{user.email}}</span>
        <input class="email" placeholder="E-mail" value="{{user.email}}" *ngIf="isEdit">
        <p></p>
        <span class="text-muted">Address:</span>
        <span class="address" *ngIf="!isEdit">{{user.address}}</span>
        <input class="address" placeholder="address" value="{{user.address}}" *ngIf="isEdit">
      </div>
    </div>

    <div class="col-sm-9 profile-table-right-part">
      <div class="experience-developer">

        <div class="profile-header">
          <p class="text-muted title-name-experience">Experience</p>
          <button class="profile-button" (click)="openModal(experienceModal)">Add</button>
        </div>

        <div class="experience">
          <div class="experience-item" *ngFor="let experience of user.experiences">
            <div class="experience-info">
              <p class="info-period"> {{experience.period}} </p>
              <p class="text-muted info-position">{{experience.position}}</p>
              <p class="text-muted info-location">{{experience.location}}</p>
            </div>
            <div class="experience-company">
              <div class="experience-map">
                <div class="experience-point"></div>
                <div class="experience-line"></div>
              </div>
              <div class="company-info">
                <p class="company-name">{{experience.company}}</p>
                <p class="experience-description">{{experience.description}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="skill-developer">

        <div class="profile-header">
          <p class="text-muted title-name-skill">Skills</p>
          <button class="profile-button" (click)="openModal(skillModal)">Add</button>
        </div>

        <div class="skills">
          <span *ngFor="let skill of user.skills">
            {{skill.name}}
          </span>
        </div>

      </div>
    </div>
  </div>

  <button type="button" class="button-edit btn btn-default btn-sm" (click)="changeMode()">
    <span class="glyphicon glyphicon-pencil" *ngIf="!isEdit"></span>
    <span class="glyphicon glyphicon-ok" *ngIf="isEdit"></span>
  </button>
</div>

<ng-template #experienceModal>
  <app-experience-modal [refModal]="modalRef"></app-experience-modal>
</ng-template>

<ng-template #skillModal>
  <app-skill-modal [refModal]="modalRef"></app-skill-modal>
</ng-template>

<ng-template #reviewModal>
  <app-review-modal [refModal]="modalRef" [user]="user"></app-review-modal>
</ng-template>
