html {
  overflow-y: scroll;
}

.candidates-section {
  min-height: 70px;
}

.candidates-section h1 {
  font-size: 20px;
  font-weight: lighter;
  padding: 20px 30px 20px;
  margin: 0;
}

.candidates-table {
  min-height: calc(100vh - 170px);
}

.table{
  margin-bottom: 0;
}

.candidates-table table tr:hover:not(.filters) {
  cursor: pointer;
  border-bottom: 3px solid #ddd;
}

.candidates-table table tr > th:first-child,
.candidates-table table tr > td:first-child{
  padding: 0 30px ;
}

.candidates-table table tr > th,
.candidates-table table tr > td {
  height: 60px;
  vertical-align: middle;;
}

.candidates-table table tr > td{
  padding-left: 15px;
}

.candidates-table table tbody tr{
  border-bottom: 1px solid #ddd;
}

.candidate-photo div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
}

.candidate-photo img {
  width: 60px;
}

.button-position,
.button-status {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 34px;
  margin-top: 15px;
  background: none;
  border: 1px solid #ccc;
}

.button-position{
  width: 210px;
}

.button-status{
  width: 170px;
}

.button-position > span,
.button-status > span{
  font-weight: 700;
  overflow: hidden;
}

.button-position > span{
  max-width: 170px;
}

.button-status > span{
  max-width: 130px;
}

.dropdown-position{
  width: 210px;
}

.dropdown-status{
  width: 170px;
}

.dropdown-position li a,
.dropdown-new-position li a,
.dropdown-status li a{
  white-space: normal;
  cursor: pointer;
}

.button-add {
  position: fixed;
  right: 20px;
  bottom: 20px;
  height: 50px;
  width: 50px;
  border-radius: 100%;
  border: none;
  color: #636466;
  background: #e8e8e8;
  box-shadow: 0 5px 8px #dcdcdc;
  font-size: 30px;
  font-weight: inherit;
}

.button-add:hover {
  background: #dcdcdc;
}

/* --- Modal window --- */

.modal-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.modal-body label {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* ------- Validation ------ */
input.ng-valid[required], input.ng-valid.required {
  border-left: 4px solid #42A948;
}

input.ng-invalid[required] {
  border-left: 4px solid #a94442;
}

.btn-group.open.new-position{
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075),
  0 0 8px rgba(102,175,233,.6);
}

.btn-group.open.new-position > button{
  border-color: #66afe9;
}

.button-new-position{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 34px;
  background: none;
  border: 1px solid #ccc;
  border-left: 4px solid #a94442;
}

.positionValid{
  border-left: 4px solid #42A948;
}

.button-new-position > span{
  overflow: hidden;
  max-width: 85%;
}

.dropdown-position{
  width: 100%;
}

@media screen and (max-width: 700px) {

  .table-responsive > .table > tbody > tr > td {
    white-space: normal;
  }

  .candidates-table table th:nth-child(3),
  .candidates-table table td:nth-child(3),
  .candidates-table table th:nth-child(4),
  .candidates-table table td:nth-child(4){
    display: none;
  }

  .candidates-table table tr > th:first-child,
  .candidates-table table tr > td:first-child{
    padding: 0 5px ;
  }
}
